<template>
  <v-app-bar app dense>
    <v-app-bar-nav-icon
      @click="
        $vuetify.breakpoint.smAndDown
          ? setDrawer(!drawer)
          : setMiniVariant(!minivariant)
      "
    ></v-app-bar-nav-icon>
    <v-spacer></v-spacer>
    <v-text-field
      append-icon="mdi-magnify"
      hide-details
      style="max-width: 165px"
      label="search"
      class="hidden-sm-and-down"
    ></v-text-field>
    <v-divider vertical inset class="ml-4"></v-divider>
    <v-btn text>
      <v-icon>mdi-account</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
// Utilities
import { mapState, mapMutations } from "vuex";

export default {
  name: "CoreAppBar",

  data: () => ({
    // appTitle: 'FacilEpargne'
  }),

  computed: {
    ...mapState(["drawer", "minivariant"])
  },

  methods: {
    ...mapMutations({
      setDrawer: "SET_DRAWER",
      setMiniVariant: "SET_MINIVARIANT"
    })
  }
};
</script>
