<template>
  <v-navigation-drawer
    app
    v-model="drawer"
    mobile-break-point="960"
    color="blue darken-2"
    dark
    :mini-variant="minivariant"
  >
    <v-list class="pt-0">
      <v-list-item class="pl-2 pb-0">
        <v-list-item-avatar tile>
          <v-img src="@/assets/logocrop.png" />
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>FacilEpargne</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider class="ml-2 mr-2"></v-divider>

      <v-list-item
        v-for="item in items"
        :key="item.title"
        :to="item.to"
        link
        dense
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
    <template v-slot:append>
      <v-divider class="ml-2 mr-2"></v-divider>

      <v-list-item
        v-for="item in items_bottom"
        :key="item.title"
        :to="item.to"
        link
        dense
      >
        <v-list-item-icon>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-icon>

        <v-list-item-content>
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </template>
  </v-navigation-drawer>
</template>

<script>
// Utilities
import { mapState } from "vuex";

export default {
  name: "CoreDrawer",

  data: () => ({
    items: [
      { title: "Dashboard", icon: "mdi-view-dashboard", to: "/" },
      { title: "Blog", icon: "mdi-post", to: "/blog" },
      { title: "Trading", icon: "mdi-bank", to: "/trading" },
      { title: "Budget", icon: "mdi-scale-balance", to: "/budget" },
      { title: "Real Estate", icon: "mdi-office-building", to: "/realestate" },
      { title: "Tax", icon: "mdi-cash-register", to: "/tax" },
      { title: "Saving", icon: "mdi-piggy-bank", to: "/saving" },
      { title: "Crypto", icon: "mdi-bitcoin", to: "/crypto" },
      { title: "Axios IEX Test", icon: "mdi-api", to: "/axiostest" }
    ],
    items_bottom: [{ title: "About", icon: "mdi-information", to: "/about" }]
  }),

  computed: {
    ...mapState([]),
    drawer: {
      get() {
        return this.$store.state.drawer;
      },
      set(val) {
        this.$store.commit("SET_DRAWER", val);
      }
    },
    minivariant: {
      get() {
        return this.$store.state.minivariant;
      },
      set(val) {
        this.$store.commit("SET_MINIVARIANT", val);
      }
    }
  }
};
</script>
