<template>
  <v-container fluid>
    Test <br />
    {{ info }}
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "AxiosTest",

  data: () => ({
    info: null,
    errored: false,
    loading: true,
    apiKeyIEX: process.env.VUE_APP_API_KEY_IEX
  }),

  mounted() {
    axios
      .get(
        "https://sandbox.iexapis.com/stable/stock/IBM/quote?token=" +
          this.apiKeyIEX
      )
      .then(response => (this.info = response))
      .catch(error => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));
  }
};
</script>
