<template>
  <v-container fluid>
    <v-row class="mt-5">
      <v-col cols="12">
        <v-row align="center" justify="center">
          <section v-if="errored">
            <p>Oops, it doesn't work, sorry about that !</p>
          </section>
          <section v-else>
            <base-material-card color="warning" class="px-5 py-3">
              <template v-slot:heading>
                <div class="display-2 font-weight-light">
                  Bitcoin Price Index
                </div>

                <div class="subtitle-1 font-weight-light">
                  Bitcon price in USD, GBP and EUR on 15th September, 2016
                </div>
              </template>
              <v-card-text>
                <div v-if="loading">
                  <v-skeleton-loader
                    type="article"
                    class="mx-auto"
                  ></v-skeleton-loader>
                </div>
                <div
                  v-else
                  v-for="currency in info"
                  :key="currency.code"
                  class="currency"
                >
                  {{ currency.description }}:
                  <span class="lighten">
                    <span v-html="currency.symbol"></span
                    >{{ currency.rate_float | currencydecimal }}
                  </span>
                </div>
              </v-card-text>
            </base-material-card>
          </section>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "Crypto",

  data: () => ({
    info: null,
    errored: false,
    loading: true
  }),

  mounted() {
    axios
      .get("https://api.coindesk.com/v1/bpi/currentprice.json")
      .then(response => (this.info = response.data.bpi))
      .catch(error => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));
  }
};
</script>
