<template>
  <v-app>
    <core-drawer />
    <core-app-bar />
    <core-view />
  </v-app>
</template>

<script>
export default {
  name: "Index",

  components: {
    CoreAppBar: () => import("@/components/core/AppBar"),
    CoreDrawer: () => import("@/components/core/Drawer"),
    CoreView: () => import("@/components/core/View")
  }
};
</script>
